.idea/
.vs/
.vscode/
build/
PrototypeCompiler/llvm-project/
PrototypeDependencies/assimp/
PrototypeDependencies/catch2/
PrototypeDependencies/fmt/
PrototypeDependencies/glfw/
PrototypeDependencies/glm/
PrototypeDependencies/imgui/
PrototypeDependencies/jinja2cpp/
PrototypeDependencies/nlohmann/
PrototypeDependencies/opencv/
PrototypeDependencies/PhysX/
PrototypeDependencies/sds/
PrototypeDependencies/stb/
PrototypeDependencies/tinygltf/